.data {
  &__section {
    margin-bottom: 10px;
  }

  &__label {
    font-size: 15px;
    margin-bottom: 10px;
  }

  &__checkbox-label {
    cursor: pointer;
  }

  &__range {
    padding: 0 7px;
  }
}