.page {
  display: grid;
  grid-template-columns: auto 400px;
  grud-template-rows: auto;
  min-height: 100vh;

  &__chart {
    justify-self: center;
    grid-column: 1 / 2;
    width: 100%;
    max-width: 1000px;
  }

  &__menu {
    grid-column: 2 / 3;
    padding: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}